.env
down.sh
up.sh
run.sh
fp/*
fp/
fingerprints.json
database/node_modules/
database/February2023.json
database/January2023.json
fingerprintsOld.json
database/db_June_2022.json
database/hist.json
tcpip_fp.env
__pycache__
__pycache__/
.DS_Store
download.sh
rw.md
zardaxt-server.json
env/*

database/July2023-de.json
database/July2023-us.json
database/duplicates.json
database/September2023-us.json
database/September2023-de.json